	<% form.inputs do %>
		<%= form.input :name %>
		<%= form.input :email %>
		<%= form.input :phone %>
		<%= form.input :address, :input_html => { :size => '30x3' } %>
	<% end %>

	<% form.inputs do %>
		<%= form.input :been_on_tour, :as => :radio %>
		<%= form.input :how_many_tours, :as => :select, :collection => (0..10).collect{|i| [t(:"formtastic.labels.application.how_many_tours_options._#{i}", :default => i.to_s), i]} %>
	<% end %>

<% form.inputs do %>
	<%= form.input :chautauqua_contributions %>
	<%= form.input :video_url %>
	<%= form.input :chautauqua_experiences %>
	<%= form.input :other_experiences %>
	<%= form.input :amount_of_involvement, :as => :radio, :collection => Application::AMOUNT_OF_INVOLVEMENT_OPTIONS %>
	<%= form.input :possibility_of_involvement, :as => :select, :collection => Application::POSSIBILITY_OF_INVOLVEMENT_OPTIONS %>
	<%= form.input :transportation, :as => :select, :collection => Application::TRANSPORTATION_OPTIONS %>
	<%= form.input :other_transportation, :wrapper_html => { :class => 'js-hide' } %>
	<%= form.input :abilities, :as => :bitmask_attributes %>
	<%= form.input :other_abilities, :wrapper_html => { :class => 'js-hide' } %>
<% end %>


<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %>
		Apply
  </button>  
  <%#= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}")} #{t("web-app-theme.cancel", :default => "Cancel")}", applications_path, :class => "button" %> 
</div>