<!-- <%= session[:applications].inspect %> -->
<% unless current_admin or @applications.empty? %>
<div class="block">
	<h3>Applications from this computer</h3>
	<div class="content">
		<p>Until we start reviewing the applications, you are welcome to edit any that have been sent in from this computer.</p>
		<table class="table">
			<% for app in @applications %>
				<tr><td><%= app.name %></td><td>(<%= link_to 'edit', edit_application_path(app) %>)</td></tr>
			<% end %>
		</table>
	</div>
</div>
<% end %>

<div class="block">
  <h3><%=t :'.title' %></h3>
  <div class="content">
		<%= image_tag 'poster_top.gif', :width => 270, :id => 'poster_top' %>
    <p><%= spreadhead('schedule') rescue t(:'.content') %></p>
  </div>
</div>
