<h1>Listing applications</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Been on tour</th>
    <th>How many tours</th>
    <th>Chautauqua contributions</th>
    <th>Expchautauqua eriences</th>
    <th>Other experiences</th>
    <th>Amount of involvement</th>
    <th>Possibility of involvement</th>
    <th>Transportation</th>
    <th>Abilities mask</th>
  </tr>

<% @applications.each do |application| %>
  <tr>
    <td><%=h application.name %></td>
    <td><%=h application.email %></td>
    <td><%=h application.phone %></td>
    <td><%=h application.been_on_tour %></td>
    <td><%=h application.how_many_tours %></td>
    <td><%=h application.chautauqua_contributions %></td>
    <td><%=h application.expchautauqua_eriences %></td>
    <td><%=h application.other_experiences %></td>
    <td><%=h application.amount_of_involvement %></td>
    <td><%=h application.possibility_of_involvement %></td>
    <td><%=h application.transportation %></td>
    <td><%=h application.abilities_mask %></td>
    <td><%= link_to 'Show', application %></td>
    <td><%= link_to 'Edit', edit_application_path(application) %></td>
    <td><%= link_to 'Destroy', application, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New application', new_application_path %>