<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Applications</h2>
    <div class="inner">
      <table class="table">
        <tr>             
					<th class="first">Name</th>
          <th>New?</th>
					<th>Involvement</th>
					<th>Skills</th>
          <th class="last">Applied at</th>
        </tr>
        <% @applications.each do |application| -%>
        <tr class="<%= cycle("odd", "even") %>">
					<td><%= link_to application.name, application_path(application) %></td>
					<td><%= application.been_on_tour? ? '' : 'New' %></td>
					<td><%= application.amount_of_involvement.to_s.humanize %></td>
					<td><%= truncate abilities_to_sentence(application) %></td>
					<td><%=l application.created_at %></td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
					Showing <%= @applications.size %> applications.
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>