<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= controller.action_name == 'index' ? 'All' : controller.action_name.titleize %> Applications</h2>
    <div class="inner">
      <table class="table">
        <tr>          
					<th class="first">Name</th>
          <!-- <th>New?</th> -->
          <!-- <th colspan="2">Involvement</th> -->
          
					<% if ApplicationDeadline.before_deadline? and false then %>
            <th>Skills</th>
          <% else %>
            <th>Actions</th>
          <% end %>
          <th></th>
          <th class="last">Applied at</th>
        </tr>
        <% @applications.all.each do |application| -%>
        <tr class="<%= cycle("odd", "even") %>">
					<td><%= link_to truncate(application.name, :length => 22), application_path(application) %></td>
          <!-- <td><%= application.been_on_tour? ? '' : 'New' %></td> -->
          <!-- <td><%= application.amount_of_involvement.to_s.humanize %></td> -->
          <!-- <td><%= application.possibility_of_involvement.to_s.humanize %></td> -->
					<% if ApplicationDeadline.before_deadline? and false then %>
            <td><%= truncate abilities_to_sentence(application, true), :length => 33 %></td>
          <% else %>
  					<td class="actions">
              <%= application_action application, :accepted %>
              <%= application_action application, :wait_list %>
              <%= application_action application, :no_email %>
  					</td>
  				<% end %>
  				<td>
  				  <% if application.reply? then %>
  				    Replied <span class="subtext"><%= link_to 'edit', add_reply_application_path(application) %></span>
  				    <%= link_to 'Read Reply', read_reply_application_path(application) %>
  				  <% else %>
    				  <%= link_to 'Add Reply', add_reply_application_path(application) %>
    				<% end %>
  				</td>
					<td><%=l application.created_at.to_date %></td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
					Showing <%= @applications.count %> applications.
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar do -%>
  <p>Showing <strong><%= @applications.count %></strong> applications.</p>
  <p><strong><%= @applications.accepted.count %></strong> Accepted.</p>
  <p><strong><%= @applications.replied.count %></strong> Replied.</p>
	
<% end %>