<p>
  <b>Name:</b>
  <%=h @application.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @application.email %>
</p>

<p>
  <b>Phone:</b>
  <%=h @application.phone %>
</p>

<p>
  <b>Been on tour:</b>
  <%=h @application.been_on_tour %>
</p>

<p>
  <b>How many tours:</b>
  <%=h @application.how_many_tours %>
</p>

<p>
  <b>Chautauqua contributions:</b>
  <%=h @application.chautauqua_contributions %>
</p>

<p>
  <b>Expchautauqua eriences:</b>
  <%=h @application.expchautauqua_eriences %>
</p>

<p>
  <b>Other experiences:</b>
  <%=h @application.other_experiences %>
</p>

<p>
  <b>Amount of involvement:</b>
  <%=h @application.amount_of_involvement %>
</p>

<p>
  <b>Possibility of involvement:</b>
  <%=h @application.possibility_of_involvement %>
</p>

<p>
  <b>Transportation:</b>
  <%=h @application.transportation %>
</p>

<p>
  <b>Abilities mask:</b>
  <%=h @application.abilities_mask %>
</p>


<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>