<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      <dl>
				<%= basic_attribute :name %>
				<%= basic_attribute :email %>
				<%= basic_attribute :phone %>
				<%= basic_attribute(:address, :dd => { :class => 'multiline' }, :simple_format => true) %>
				<%= attribute(:been_on_tour) { @application.been_on_tour? ? 'Yes' : 'No' } %>
				<%= basic_attribute :how_many_tours %>

				<%= basic_attribute :chautauqua_contributions, :simple_format => true %>
				<%= attribute('Video') { @application.video_url? ? link_to(h(@application.video_url), h(@application.video_url)) : 'Not Supplied' } %>
				<%= basic_attribute :chautauqua_experiences, :simple_format => true %>
				
				<%= basic_attribute :other_experiences, :simple_format => true %>
				
				<%= attribute(:amount_of_involvement) {|name| h @application.send(name).to_s.titleize } %>
				<%= basic_attribute :possibility_of_involvement %>
				
				<% if @application.transportation.match /other/i then %>
					<%= basic_attribute :other_transportation %>
				<% else %>
					<%= basic_attribute :transportation %>
				<% end %>
				
				<%= attribute(:abilities) { abilities_to_sentence @application } %>
				
				<% if @application.other? then %>
					<%= basic_attribute :other_abilities %>
				<% end %>
				
				
				<%= basic_attribute :references %>
				
				
				<%= basic_attribute :reply, :simple_format => true %>
			</dl>

      <div class="wat-cf">
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>