<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title><%= render_title %></title>
	<meta name="Description" content="<%= yield :description -%>" />
	<meta name="Keywords" content="<%= yield :keywords -%>" />


	<%= render 'layouts/unobtrusive_hack' %>
	<%= stylesheet_link_tag 'application' %>
	<%= stylesheet_link_tag 'print', :media => 'print' %>

	<!--[if IE 6]>
	<%= stylesheet_link_tag 'ie' %>
	<![endif]-->
	
	<%= yield :head %>

	<meta http-equiv="X-UA-Compatible" content="IE=7" />
</head>
<body class="<%= body_class %>">

	<div id="container">
    <div id="header">
			<h1><%= link_to t(:'site_name'), root_path %></h1>
      <div id="user-navigation">
        <ul class="wat-cf">
					<%= content_tag(:li, link_to(t(:'.logout'), cm_admin_logout_path), :class => "logout") if current_admin %>
        </ul>
      </div>      
      <div id="main-navigation">
        <ul class="wat-cf">
        	<%= content_tag(:li, link_to(t(:'.applications'), applications_path), :class => 'active') if current_admin %>
        </ul>
      </div>
    </div>    
    <div id="wrapper" class="wat-cf">
      <div class="flash">
				<%= render 'layouts/flashes' %>
      </div>
      <div id="main">
        <%= yield %>
        <div id="footer">
          <div class="block">
            <p>Copyright &copy; <%= Time.current.year %> New Old Time Chautauqua.</p>
          </div>      
        </div>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>    
  </div>
	
	
	<%= render 'layouts/javascript' %>
	<%= render 'layouts/analytics' %>
</body>
</html>
